services:
  postgres:
    image: postgres:16-alpine
    container_name: scam-detection-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: x
      POSTGRES_DB: fraud_detection
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: scam-detection-pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      GUNICORN_ACCESS_LOGFILE: '/dev/null'
      PGADMIN_CONFIG_CONSOLE_LOG_LEVEL: 50
      PGADMIN_CONFIG_FILE_LOG_LEVEL: 50
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    logging:
      driver: "none"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: scam-detection-backend
    restart: unless-stopped
    ports:
      - "${SERVER_PORT:-8080}:8080"
    env_file:
      - .env
    environment:
      DB_HOST: postgres
      ML_SERVICE_URL: http://ml-service:8000
    depends_on:
      - postgres
      - ml-service

  ml-service:
    build:
      context: ./ml-service
      dockerfile: Dockerfile
    container_name: scam-detection-ml
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ml_models_cache:/app/models_cache
      - ./ml-service/training:/app/training
    environment:
      - MODEL_NAME=RUSpam/spam_deberta_v4
      - MODEL_CACHE_DIR=/app/models_cache
      - PHISHING_THRESHOLD=0.95

volumes:
  postgres_data:
  pgadmin_data:
  ml_models_cache:
